.wrapper {
    --height: 50px;
    background-color: transparent;
    min-height: var(--height);
    line-height: var(--height);
    position: relative;
    text-align: start;
    width: 100%;
    color: #ccc;
    padding: 0 40px;
}

.wrapper input {
    width: 100%;
    font-size: 2.3rem;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    z-index: 2;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.wrapper input:not([value='']) ~ span {
    transform: translateX(10px) translateY(-24px);
    font-size: 1.4rem;
    padding: 0 10px;
    background: #fff;
    color: #4bb543;
}

.wrapper input:not([value='']) {
    border-color: #4bb543;
}

.wrapper input[value='']:focus {
    border-color: #ccc !important;
}
.wrapper input[value='']:focus ~ span {
    color: #ccc !important;
}

.wrapper span {
    position: absolute;
    top: 18px;
    left: 60px;
    transition: 0.5s;
    pointer-events: none;
    text-align: center;
    line-height: 100%;
}

.error {
    color: #fc8181;
    line-height: 100%;
    text-align: left;
    margin-top: 0.25rem;
}

.inputError {
    border-color: #fc8181 !important;
}

.wrapper input:focus ~ span {
    transform: translateX(10px) translateY(-24px);
    font-size: 1.4rem;
    padding: 0 10px;
    background: #fff;
    color: #111;
}

.wrapper input:focus {
    border-color: #111;
}

.inputError ~ span {
    color: #fc8181 !important;
}

.wrapper + .wrapper {
    margin-top: 15px;
}
