.wrapper {
    width: 100%;
    min-height: 500px;

    margin: 60px 0;
}

.items {
    width: var(--default-layout-width);
    padding: 0 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .items {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .items {
        width: 100%;
        flex-flow: row wrap;
        padding: 0 10px;
    }
}
