.wrapper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.title {
    margin: 0 auto;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 2;
}

.content {
    --width: 640px;

    border-radius: 8px;
    max-width: calc(100vw - 32px);
    min-height: 600px;
    padding: 40px 16px;
    position: relative;
    width: var(--width);
}

.info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nameInfo {
    max-width: 50%;
}

.form {
    margin-top: 20px;
}

.loginBtn {
    width: 528px;
    margin: 25px auto 0px;
    background-color: #111;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.loginBtn:hover {
    background: #757575;
}

.loginBtn span {
    color: #fff;
    font-size: 1.8rem;
}

.resgister {
    margin-top: 20px;
}

.resgister span {
    font-weight: 700;
}
