.wrapper {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 24px;
    min-height: 24px;
    padding: 9px 16px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    cursor: pointer;
    background-color: var(--white);
    justify-content: center;
}

.wrapper > span {
    height: 24px;
}

/* Button type */

.primary {
    background: #111;
    color: #fff;
    text-align: center;
}

.primary:hover {
    background: rgba(0, 0, 0, 0.75);
}

.outline {
    color: var(--primary);
    border-color: currentColor;
    text-align: center;
}
.outline:hover {
    background-color: var(--primary);
    color: #fff;
    border-color: currentColor;
}

.icon {
    text-align: center;
    display: flex;
    align-items: center;
}

.circle {
    width: 40px;
    background: transparent;
    height: 40px;
    color: var(--primary);
    padding: 6px 9px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover {
    border: none;
    background-color: #111;
    color: white;
}

/* Button size */

.small {
}

.grey {
    border-color: #cccccc;
}

.grey:hover {
    box-shadow: rgb(204 204 204) 0px 1px 0px 0px inset, rgb(204 204 204) -1px 0px 0px 0px inset,
        rgb(204 204 204) 0px -1px 0px 0px inset, rgb(204 204 204) 1px 0px 0px 0px inset;
}

.large {
    width: 100%;
    min-width: 150px;
    min-height: 60px;
    padding: 18px 24px;
}

.product {
    background-color: #fff;
    margin: 0 12px;
    width: 46px;
    height: 46px;
    box-shadow: 0 3px 10px #00000014;
    color: #232529;
}

.product:hover {
    background-color: #111;
}
