.wrapper {
    position: relative;
    min-height: 1px;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 8px;
    padding-right: 8px;
    width: 33.33333333333333%;
    vertical-align: top;
}

.body {
    position: relative;
    margin-bottom: 18px;
    max-width: 592px;
}

.content {
    display: flex;
    flex-direction: column;
}

.itemImage {
    display: block;
    z-index: 1;
    position: relative;
}
.itemImage img {
    width: 100%;
    background: #f5f5f5;
    height: auto;
    display: block;
    opacity: 1;
    transition: opacity 0.28s;
}

.info {
    position: relative;
    padding: 12px 0 2px 0;
    min-height: 185px;
    font-size: 16px;
    cursor: pointer;
}

.colorWay {
    width: 70%;
    max-height: 45px;
    position: relative;
    display: none;
}

.remain {
    width: 41px;
    height: 41px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #ccc;
    position: absolute;
    right: -43px;
    top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
}

.itemImage:hover {
    cursor: pointer;
}

.body:hover .titleInfo,
.body:hover .status,
.body:hover .colours {
    display: none;
}

.body:hover .colorWay {
    display: block;
}

.hide {
    display: none;
}

.status {
    color: #9e3500;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: -3px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.titleInfo {
    line-height: 2rem;
}

.title {
    color: #111111;
    font-weight: 500;
}

.brand {
    color: #757575;
}

.colours {
    line-height: 2rem;
    padding-bottom: 10px;
    color: #757575;
    cursor: pointer;
    line-height: inherit;
    overflow: visible;
}

.price {
    padding-right: 5px;
    font-weight: 500;
    color: #111111;
}

.sale {
    color: #8d8d8d;
    text-decoration: line-through;
    padding: 0 10px;
}

.pricePerc {
    color: rgb(65, 161, 57);
    font-weight: 500;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 50%;
    }
}

@media (max-width: 740px) {
    .body:hover .colorWay {
        display: none;
    }

    .body:hover .titleInfo,
    .body:hover .status,
    .body:hover .colours {
        display: block;
    }
}
