@import 'normalize.css';

:root {
    --black: #000;
}

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
