@import 'normalize.css';

@font-face {
    font-family: MyFont;
    src: url('../../assets/fonts/MyFonts/RubikRegular.ttf');
}

:root {
    --primary: #111;
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --text-color-2: #707072;
    --font-family: MyFont;

    /* Default layout  */
    --default-layout-header-height: 60px;
    --default-layout-width: 1382px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
    overflow-x: hidden;
}

/* Scroll bar */

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

/* Custom Tippy */

.tippy-box {
    font-family: var(--font-family);
    border-radius: 8px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: #111;
}

.tippy-arrow {
    color: #111;
}

.tippy-content {
    padding: 8px 9px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
