@import 'normalize.css';

:root {
    --primary: #111;
    --white: #fff;
    --black: #000;
    --text-color: #333;

    /* Default layout  */
    --default-layout-header-height: 60px;
    --default-layout-width: 1382px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    /* color: var(--text-color); */
    text-decoration: none;
}

/* Custom Tippy */

.tippy-box {
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
}

.tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

.tippy-content {
    padding: 8px 9px;
}

.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
