.wrapperr {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    margin-top: var(--default-layout-header-height);
    overflow-x: hidden;
}
