.wrapper {
    width: 100%;
    display: flex;
    height: var(--default-layout-header-height);
    justify-content: center;
    box-shadow: 0px 1px 1px rgb((0), 0, 0 / 12%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    z-index: 99;
}

.logo {
    display: flex;
    height: 60px;
    align-items: center;
}

.logoLink {
    display: flex;
}

.logo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu {
    flex: 1;
}

.menu a {
    line-height: var(--default-layout-header-height);
}

.menu ul {
    width: 50%;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.menuHide {
    display: none;
}

.menu ul li {
    height: 100%;
    list-style: none;
    float: left;
    cursor: pointer;
    padding: 0 12px;
    font-weight: 500;
    font-size: 16px;
}

.menu ul li:hover {
    border-bottom: 2px solid #000;
}

.suggestions {
    width: 20%;
    background-color: aqua;
}

.suggestions ul li {
    list-style: none;
}

.tip {
    width: var(--default-layout-width);
    background-color: #000;
    height: 700px;
}

.action {
    min-width: 150px;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hideActions {
    display: none;
}

.cancel {
    display: none;
}

.showCancel {
    display: flex;
    width: 60px;
    min-height: 24px;
    line-height: 24px;
    justify-content: center;
}

.showCancel button {
    background-color: transparent;
}

.showCancel span {
    font-size: 1.6rem;
}

.showCancel button:hover {
    cursor: pointer;
    color: #757575;
}

/* User */

.userAvatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

/* Badge */

.place {
    position: relative;
}

.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'ProximaNova', sans-serif;
    background-color: crimson;
}

.coating {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s ease, visibility 0s;

    background-color: hsla(0, 0%, 7%, 0.36);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 0;
}
