.item {
    width: 25%;
    height: 440px;
    padding-right: 15px;
    float: left;
}

.itemContent {
    max-height: 100%;
}

.itemImage {
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: relative;
}

.actions {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;

    transition: 0.3s linear;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transform: translateY(0);
}

.itemImage:hover > .actions {
    opacity: 1;
    transform: translateY(-30px);
}

.itemImage:hover .icon {
    visibility: visible;
    opacity: 1;
}

.icon {
    transition: 0.4s linear;
    visibility: hidden;
    opacity: 0;
}

.icon:first-child {
    transition-delay: 0.1s;
}

.icon:nth-child(2) {
    transition-delay: 0.2s;
}

.icon:last-child {
    transition-delay: 0.3s;
}

.itemImage img {
    height: 100%;
    background-color: transparent;
}

.itemInfo {
    font-weight: 400;
    color: #ddac55;
}
.itemInfo s {
    font-size: 1.4rem;
    font-weight: 400;
    color: #979797;
    text-decoration: line-through;
    margin-left: 10px;
}

.itemName {
    padding: 20px 0 4px 0;
    color: #000;
    font-weight: 400;
}

.itemPrice {
    margin-bottom: 1rem;
}
