.wrapper {
    padding-top: 40px;
    width: 100%;
    font-size: 1.8rem;
}

.title {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 100;
    padding: 40px 0;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* Content */

.content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

.infoUser {
    flex-basis: 66.6667%;
    max-width: 66.6667%;
    padding-left: 8px;
    padding-right: 8px;
}

.label {
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 1.5;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 8px;

    box-shadow: rgb(229 229 229) 0px 1px 0px 0px inset;
}

.infomations {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    text-transform: none;
    display: flex;
    flex-flow: column wrap;
}

.info {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.inputItem {
    max-width: 100%;
    flex: 1;
    padding: 0 10px;
}

.infomations h4 {
    text-decoration: underline;
    margin-top: 10px;
}

.checkout {
    margin-top: 30px;
    text-align: center;
    width: 100%;

    min-height: 60px;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: rgb(229, 229, 229);
    color: rgb(117, 117, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkout:hover {
    background-color: var(--primary);
    color: #fff;
}

.checkout span {
}

/* Sumary */

.summary {
    vertical-align: top;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.favourites {
    min-height: 200px;
}

.favouriteContent {
    flex-basis: 50%;
    max-width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.viewMore {
    display: inline-block;

    font-size: 14px;
    color: rgb(117, 117, 117);
    box-shadow: rgb(117 117 117) 0px -1px 0px 0px inset;
}

.viewMore:hover {
    color: #111;
}
