.content {
    width: 100%;
    height: 100%;
}
.loader {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
}
.cube1,
.cube2 {
    background-color: #000;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 0.4s infinite ease-in-out;
}
.cube2 {
    animation-delay: -0.9s;
}
@keyframes spin {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
    }
}
