.wrapper {
    width: 100%;
    margin: 10px 0;
}

.content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    padding: auto;
    margin-bottom: 10px;
}

.content.small {
    overflow: hidden;
    flex-wrap: nowrap;
    display: block;
    max-height: 45px;
}

.item {
    width: 20%;

    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    padding: 1px;
    float: left;
}

.item.small {
    height: 60px;
    object-fit: cover;
}

.item:hover {
    border-color: #111;
    cursor: pointer;
}

.item.small img {
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1024px) {
    .item {
        width: 25%;
        padding: 5px;
    }
}

@media (max-width: 740px) {
    .item {
        width: 33.33333%;
        padding: 5px;
    }
}
