.wrapper {
    width: 100%;
}

.content {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

    padding: auto;
    margin-bottom: 20px;
}

.content.small {
    overflow: hidden;
    flex-wrap: nowrap;
    display: block;
    max-height: 45px;
}

.item {
    width: 20%;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    padding: 1px;
    float: left;
}

.item.small {
    max-height: 45px;
    object-fit: cover;
}

.item:hover {
    border-color: #111;
    cursor: pointer;
}

.item img {
    height: 100%;
    width: auto;
    max-height: 125px;
    object-fit: cover;
    border-radius: 4px;
}
