.wrapper {
    width: 100%;
    max-width: var(--default-layout-width);
}
.container {
    max-width: var(--default-layout-width);

    margin-top: 60px;
    padding: 0 30px;
    margin: 0 auto;
}

.content {
    position: relative;
}

.content:hover .boxImg img {
    transform: scale(1.1);
}

.boxImg {
    overflow: hidden;
    margin-left: -15px;
    object-fit: cover;
    max-height: 405px;
}

.boxImg img {
    transition: all 0.5s ease-in;
}

.info {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.title {
    color: #000;
    margin-top: 0;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
    font-weight: 300;
    text-transform: unset;
}

.redirect {
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3em;
    transition: all 0.3s ease;
}

.redirect:hover {
    font-size: 1.6rem;
    cursor: pointer;
    color: tomato;
}
