.wrapper {
    width: 100%;
}

.banner {
    width: 100%;
    max-width: var(--default-layout-width);
    margin: 0 auto;
    min-height: 300px;
    padding: 0 15px;
}

.container {
    margin: 20px auto;

    display: flex;
}
.container .content:nth-child(1) {
    padding-left: 0;
}

.content {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0 15px;
}

.bannerInfo {
    position: relative;
    overflow: hidden;
}

.bannerImg {
    overflow: hidden;
    cursor: pointer;
    max-height: 385px;
    transition: all 0.3s ease;
}

.bannerContent {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    right: 5%;
    transition: transform 5s ease;
    text-align: right;
}

.bannerInfo:hover .bannerImg {
    cursor: pointer;
    transform: scale(1.1);
}

.bannerContent h3 {
    font-size: 3rem;
    font-weight: 100;
}

.shopNow {
    margin-top: 30px;
    vertical-align: middle;
    justify-items: center;
    flex-wrap: wrap;
    font-weight: 200;
}

.textShop {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.textShop:hover {
    font-size: 2rem;
    color: tomato;
}

@media (max-width: 740px) {
    .container {
        flex-wrap: wrap;
    }
    .content {
        flex: 0 0 100%;
        padding-left: 0;
        max-width: 100%;
        height: auto;
    }
}
